// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-editor {
    border: 1px solid #c8ccd0;
    cursor: text;
    padding: 0px 5px;
    background-color: #FFF;
    position: relative;
    overflow: hidden;
    white-space: nowrap;

    & input {
        border: none !important;
        outline: none;
        width: 100%;
    }
}

.article-tag {
    color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;
    margin: -3px 3px 0;

    display: inline-block;
    padding: .1em .2em;
    margin: 2px 2px 2px 0;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;

    &__delete-tag {
        width: 14px;
        height: 14px;
        vertical-align: middle;
        display: inline-block;
        background-image: url('https://cdn.sstatic.net/Img/unified/sprites.svg?v=438582dc9e27'), none;
        background-position: -40px -319px;
        cursor: pointer;
        margin-left: 3px;
        margin-top: -2px;
        margin-bottom: -1px;
    }
}

.tag-suggestions {
    display: none;
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 5px;

    & .article-tag:hover {
        cursor: pointer;
    }
}
